{% extends 'base.html' %}

{% block title %}Actualizar Stock{% endblock %}

{% block header %}Actualizar Stock{% endblock %}

{% block content %}
    <div class="container mt-5">
        <h2>Actualizar Stock de Producto</h2>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label>Nombre del Producto</label>
                <input type="text" class="form-control" value="{{ producto.nombre }}" disabled>
            </div>
            <div class="form-group">
                <label>Stock Actual en Bodega</label>
                <input type="text" class="form-control" value="{{ producto.stock }}" disabled>
            </div>
            <div class="form-group">
                <label>Cantidad a Agregar</label>
                {{ form.cantidad }}
            </div>
            <button type="submit" class="btn btn-primary">Actualizar Stock</button>
        </form>
    </div>
{% endblock %}
